

<div class="container-ok">
<%= render "components/header" %>
<div class="banner banner-resp" style="background-image: linear-gradient(122deg, rgba(0,0,0,0.1699054621848739) 0%, rgba(255,255,255,0.3575805322128851) 71%, rgba(0,0,0,0.2819502801120448) 100%), url(https://res.cloudinary.com/dhvdnppdx/image/upload/v1599410504/banni%C3%A8re/leora-dowling-rq5ZYVt4aus-unsplash_myefu4.jpg);">
  <div class="container-banner">
    <%= image_tag("Desktop HD.png", alt: "Quelque chose de neuf")%>
    <a class="btn btn-light btn-banner" href="https://www.helloasso.com/associations/collectif-rpz/formulaires/1/widget">Nous soutenir</a>
  </div>
</div>

  <div class="display-section-1 display-section-1-resp">
    <div class="text-div">
      <h1 class="title-site">Le collectif</h1>
      <p class="paraph-site">Le Collectif RPZ, régi sous statut associatif, se présente comme une plateforme et pépinière culturelle située à Pantin dans un espace industriel de 150m2.

L’association a pour ambition de promouvoir et de valoriser la création artistique contemporaine dans le domaine des arts plastiques.  <br />
 <br />Pour cela, elle s’engage pleinement dans la réalisation de projets culturels en collaboration avec des plasticiens.ennes, associations et représents.es de la culture extérieurs. Elle cherche aussi à promouvoir le travail de ses membres qui exercent dans ce lieu à la fois atelier et espace de présentation.

Le collectif veut concentrer en son sein les énergies et initiatives d’artistes et d’acteurs engagés.es dans la culture, afin de lutter contre une dissémination des moyens et des savoirs.

Elle promeut ainsi une mise en réseau inclusive, ouverte sur l’extérieur. L’association organise tout au long de l’année des échanges et évènements entre artistes, associations et acteurs culturels afin de bâtir et de penser le monde de la culture d’aujourd’hui et de demain.<br />
  <br />

Elle est également un espace d’entraide privilégiant l’accès à des formations techniques pour ses artistes. Ses membres se voient garantis l’accès à une diversité d’outils et d’espaces partagés, ceci pour un montant forfaitaire assez bas qui comprend une part mutualisée.

Le collectif souhaite militer pour l’égalité des chances, des moyens et des accès pour ses artistes résidents, tout en s’engageant dans une dynamique collective ouverte avec volonté sur le maillage de nouvelles rencontres. </div>
    <div class="div-img-section-1">
      <img src="https://res.cloudinary.com/dhvdnppdx/image/upload/v1599407219/banni%C3%A8re/107764304_3295319827193167_7716574570729918245_o_mwarus.jpg" class="img-section-1 img-section-1-resp">
      <p class="credit-home">Crédit photo - RPZ</p>
    </div>
  </div>

  <div class="display-section-2 display-section-2-resp">
    <div class="sous-section-1">
      <%= image_tag("museum.png", alt: "Edit Entry")%>
      <h1 class="title-section-2C">Collectif d'artistes</h1>
    </div>
    <div class="sous-section-1">
      <%= image_tag("settings.png", alt: "Edit Entry")%>
      <h1 class="title-section-2B">Mutualisation des moyens et des savoirs</h1>
    </div>
    <div class="sous-section-1">
      <%= image_tag("marketing.png", alt: "Edit Entry")%>
      <h1 class="title-section-2">Évènements toute l'année !</h1>
    </div>
  </div>

<%= render "components/footer" %>
</div>

